extends layout
block extrahead
  script(src="javascripts/hosts.js" type="text/javascript")

block content
  div.main-container
    strong(style='font-size:20px') Host status &nbsp;&nbsp;
    strong(style='font-size:12px') Time: &nbsp;
    select.cselect#menu_lookback(style="width:100px")
      option(value=259200) 72h
      option(value=172800) 48h
      option(value=86400) 24h
      option(value=43200) 12h
      option(value=21600 selected) 6h
      option(value=3600) 1h
    strong(style='font-size:12px') &nbsp; Binning: &nbsp;
    select.cselect#menu_resolution(style="width:100px")
      option(value=600) 10m
      option(value=60 selected) 1m
      option(value=10) 10s
      option(value=1) 1s

    span &nbsp;&nbsp;
    button.btn.btn-info#update_button(style="padding-top:3px" onclick="DrawMonitorCharts()") Redraw

    each host in hosts
      div.host_detail(style='background-color:white')
        div.row(style="width:100%;height:100%;margin:0")
          div.col(style="padding:5px;flex:0 0 230px")
            div.row(style="margin:0;padding:0")
              div.col-12
                span(style="font-size:24px;font-weight:bold;") #{host}
              - atts_cpu = [['cpu_percent', 'CPU %'], ['cpu_count', 'Num CPUs'], ['cpu_count_logical', 'Num cores']]
              each att in atts_cpu
                div.col-6(style='font-size:12px;')
                  strong #{att[1]}
                div.col-6(style='font-size:12px')
                  span(id=`${host}_${att[0]}`)
                div.w-100
              - atts_temp = [['CPU0 temp', 'cpu0_temp'], ['CPU1 temp', 'cpu1_temp']]
              each att in atts_temp
                div.col-6(style='font-size:12px')
                  strong #{att[0]}
                dif.col-6(style='font-size:12px')
                  span(id=`${host}_${att[1]}`)
                div.w-100
              - atts_mem = [['Mem total', 'mem_total'], ['Mem used', 'mem_used'], ['Swap', 'swap']]
              each att in atts_mem
                div.col-6(style='font-size:12px')
                  strong #{att[0]}
                div.col-6(style='font-size:12px')
                  span(id=`${host}_${att[1]}`)
                div.w-100
              div.col-6(style='font-size:12px')
                strong Load 1/5/15
              div.col-6(style='font-size:12px')
                span(id=`${host}_load`)
              hr
          div.col(style="flex:0 0 250px")
            div.row(id=`${host}_disk_row` style="margin:0;padding:0")
          div.col
            div(style="width:100%;height:100%" id=`${host}_chart`)

  script.
    $(document).ready(function(){
      SetHosts();
      DrawActiveLink("#lhosts");
    });
